<div class="easyui-layout" fit="true">
    <div region="north" style="padding: 5px; background-color: #F5F5F5" height="auto">
        <a id="btnRefresh" iconCls="icon-reload" class="easyui-linkbutton" plain="true" href="#">Обновить</a>
    </div>
    <div region="center" split="true" style="overflow:hidden;">
        <canvas id="canvas" style="width: 100%; height: 100%; padding: 0; margin: 0; "></canvas>
    </div>
</div>