<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Схема путей</title>
    <style>
        body {
            font-size: 12px;
            font-family: Arial, sans-serif;
        }
    </style>

    <link href="~/Content/EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EasyUI/themes/icon.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/EasyUI/themes/color.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/Lib/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Lib/jquery-ui.js"></script>
    <script src="~/Scripts/Lib/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/Lib/EasyUI/locale/easyui-lang-ru.js"></script>

    <script src="https://cdn.babylonjs.com/babylon.js"></script>
    <script src="https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js"></script>
    <script src="https://cdn.babylonjs.com/gui/babylon.gui.min.js"></script>

    <script src="~/Scripts/RailwaySchema/panelRailwaySchema.js"></script>

</head>
<body>
    <div class="easyui-layout" fit="true">
        <div region="center" border="false">
            @RenderBody()
        </div>
    </div>
</body>
</html>
